<nav>
    <a href="index.html" id="logo">
        <img src="{{ asset('images/logo.png') }}" alt="Logo TaskLinker" />
    </a>

    <ul id="main-menu">
        <li class="active">
            <a href="{{ path('tasklinker_project_list') }}">
                <i class="fa-solid fa-list-check"></i> Projets
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa-regular fa-user"></i> Équipe
            </a>
        </li>
    </ul>
</nav>
