{% extends 'base.html.twig' %}

{% block title %} Add project {% endblock %}

{% block body %}
    <div id="projects-container">
        {% for project in projects %}
            <article class="card-project">
                <a href="">
                    <h2>{{ project.title }}</h2>
                </a>

                <div class="card-project-icons">
                    <a href="{{ path('tasklinker_project_update', {'id': project.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    <a href="{{ path('tasklinker_project_delete', {'id': project.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </article>
        {% endfor %}

        <article class="card-project">
            <a href="{{ path('tasklinker_project_create') }}">
                <i class="fa-solid fa-circle-plus add-project-icon"></i>
                <h2>Ajouter un projet</h2>
            </a>
        </article>
    </div>
{% endblock %}
